<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/main.css')}}">
    <title>Twitter Predictor</title>
</head>
<body>
    <h1>Is the author of the twitter from USA?</h1>

    <p>
        <form action="{{ url_for('html_predict')}}"method="POST">
            <input type="text" name="text" placeholder="twitter text" required="required" />
            <button type="submit"> submit</button>
        </form>
        <br />
        <br />
        <br />
        {{ prediction }} <br>
        <br>
        {{ version }} <br>
        <br>
        {{ date }}
    </p>
</body>
</html>